src_nodered/flows-aqua.json
[
    {
        "id": "fc95845e.d2e458",
        "type": "tab",
        "label": "Aqua",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98e514a6.9c7a38",
        "type": "mqtt out",
        "z": "fc95845e.d2e458",
        "name": "MQTT publisher /aqua/controls/",
        "topic": "/aqua/controls/",
        "qos": "1",
        "retain": "",
        "broker": "712c86f7.9602f8",
        "x": 870,
        "y": 1300,
        "wires": []
    },
    {
        "id": "bbd517cf.53aa08",
        "type": "mqtt in",
        "z": "fc95845e.d2e458",
        "name": "MQTT subs /aqua/deviceInfo/",
        "topic": "/aqua/deviceInfo/",
        "qos": "1",
        "broker": "712c86f7.9602f8",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "f87fa653.238368",
                "e52c3e71.90ac8"
            ]
        ]
    },
    {
        "id": "a049a8fd.fc29c8",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "SW 1 - Air Pump",
        "group": "dd8d8e1.f37597",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 1480,
        "wires": [
            [
                "17f83dce.aca812",
                "1839bfc2.001d9"
            ]
        ]
    },
    {
        "id": "e77e6d30.aab7e",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "SW 2 - Lighting",
        "group": "dd8d8e1.f37597",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 1560,
        "wires": [
            [
                "2edae77.dfe6c18",
                "61b9ad92.ad4474"
            ]
        ]
    },
    {
        "id": "c3350ef8.f13fa",
        "type": "ui_slider",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "Set Temp",
        "group": "dd8d8e1.f37597",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": "10",
        "max": "35",
        "step": ".5",
        "x": 380,
        "y": 1800,
        "wires": [
            [
                "52fa4c44.aac754",
                "8f7af3e0.919d3"
            ]
        ]
    },
    {
        "id": "52fa4c44.aac754",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "dd8d8e1.f37597",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "UI set to",
        "label": "Temperature set to",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "x": 540,
        "y": 1860,
        "wires": []
    },
    {
        "id": "2fa161a5.654f4e",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "SW 3 - Water Filter",
        "group": "dd8d8e1.f37597",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 1640,
        "wires": [
            [
                "c8ab83b9.75f45",
                "990295b0.549198"
            ]
        ]
    },
    {
        "id": "576d8ec0.3e595",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "Automatic mode",
        "group": "7f6f0011.0b5df",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "pumpStatus",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 1120,
        "wires": [
            [
                "128c6c9a.b59ae3"
            ]
        ]
    },
    {
        "id": "8548fd47.207ee",
        "type": "ui_template",
        "z": "fc95845e.d2e458",
        "group": "7f6f0011.0b5df",
        "name": "Description",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<h3>Control the water temperature automatically.</h3>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 310,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "a5309f9d.6d341",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "SW 4 - Heater",
        "group": "dd8d8e1.f37597",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 1720,
        "wires": [
            [
                "78a1a0bb.e00a3",
                "d6ca1a4b.73de78"
            ]
        ]
    },
    {
        "id": "d5692fbc.13784",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Control buttons",
        "info": "",
        "x": 140,
        "y": 1220,
        "wires": []
    },
    {
        "id": "cec37586.50dd58",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Aquarium control",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "17f83dce.aca812",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "var SystemSounds = global.get(\"SystemSounds\");\n\nif(SystemSounds){\n    \nif(msg.payload){\n    msg.payload = \"Air Pump is ON\";\n    msg.toPublish = {\"SW_1\": 0};\n}\nelse{\n    msg.payload = \"Air Pump is OFF\";\n    msg.toPublish = {\"SW_1\": 1};\n}\n\nreturn msg;\n\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1480,
        "wires": [
            [
                "6561b26a.108f7c"
            ]
        ]
    },
    {
        "id": "6561b26a.108f7c",
        "type": "ui_audio",
        "z": "fc95845e.d2e458",
        "name": "",
        "group": "dd8d8e1.f37597",
        "voice": "en-GB",
        "always": false,
        "x": 820,
        "y": 1480,
        "wires": []
    },
    {
        "id": "2edae77.dfe6c18",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "var SystemSounds = global.get(\"SystemSounds\");\n\nif(SystemSounds){\n   \n   \nif(msg.payload){\n    msg.payload = \"Lighting is ON\";\n}\nelse {\n    msg.payload = \"Lighting is OFF\";\n}\n\nreturn msg;\n\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1560,
        "wires": [
            [
                "6561b26a.108f7c"
            ]
        ]
    },
    {
        "id": "c8ab83b9.75f45",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "var SystemSounds = global.get(\"SystemSounds\");\n\nif(SystemSounds){\n   \nif(msg.payload){\n    msg.payload = \"Water Filter is ON\";\n}\nelse {\n    msg.payload = \"Water Filter is OFF\";\n}\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1640,
        "wires": [
            [
                "6561b26a.108f7c"
            ]
        ]
    },
    {
        "id": "78a1a0bb.e00a3",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "var SystemSounds = global.get(\"SystemSounds\");\n\nif(SystemSounds){\n   \nif(msg.payload){\n    msg.payload = \"Heater is ON\";\n}\nelse {\n    msg.payload = \"Heater is OFF\";\n}\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1720,
        "wires": [
            [
                "6561b26a.108f7c"
            ]
        ]
    },
    {
        "id": "8f7af3e0.919d3",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "var SystemSounds = global.get(\"SystemSounds\");\n\nif(SystemSounds){\n   \nvar degrees = msg.payload;\n\nmsg.payload = \"Temperature is set to \" + degrees + \" degrees\";\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1800,
        "wires": [
            [
                "6561b26a.108f7c"
            ]
        ]
    },
    {
        "id": "128c6c9a.b59ae3",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "var SystemSounds = global.get(\"SystemSounds\");\n\nif(SystemSounds){\n   \nif(msg.payload){\n    msg.payload = \"Automatic control switched on\";\n}\nelse {\n    msg.payload = \"Switched to manual control\";\n}\n\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1120,
        "wires": [
            [
                "da53824.07f3e8",
                "8b901a68.5ce888"
            ]
        ]
    },
    {
        "id": "da53824.07f3e8",
        "type": "ui_audio",
        "z": "fc95845e.d2e458",
        "name": "",
        "group": "dd8d8e1.f37597",
        "voice": "en-GB",
        "always": false,
        "x": 620,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8b901a68.5ce888",
        "type": "debug",
        "z": "fc95845e.d2e458",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e1be63c9.05797",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Charts",
        "info": "",
        "x": 130,
        "y": 2220,
        "wires": []
    },
    {
        "id": "937b39f9.2d11f8",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "heater controll",
        "func": "var tempretureSetTo = msg.payload\n\nif(msg.payload >= tempretureSetTo){\n    /* stop heater */\n    msg.payload = false;\n}\nelse if (msg.payload < tempretureSetTo){\n    /* start heater */\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 680,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "f78685e5.2b0678",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "TODO: fix",
        "info": "",
        "x": 120,
        "y": 1980,
        "wires": []
    },
    {
        "id": "793a5694.f95c58",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Device info ",
        "info": "",
        "x": 120,
        "y": 180,
        "wires": []
    },
    {
        "id": "3e7fba80.e3b8c6",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Control Mode",
        "info": "",
        "x": 130,
        "y": 960,
        "wires": []
    },
    {
        "id": "60e5b44d.5e543c",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "f87fa653.238368",
        "type": "json",
        "z": "fc95845e.d2e458",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "45bd5c98.c12404",
                "42b90a19.e057c4",
                "72a2f030.273c3",
                "31f67ae1.5ddbd6",
                "a752c82f.31c948",
                "2f76936b.db117c",
                "312020e6.2728b",
                "10fdd4d3.29c67b",
                "25ec6f8f.87e7c",
                "4f5ca563.70cb7c",
                "9e05ea16.e202b8",
                "b10fda.4b87e028",
                "a3d63937.2c09e8",
                "fafc96cd.bf5d98"
            ]
        ]
    },
    {
        "id": "45bd5c98.c12404",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "Uptime",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "60e5b44d.5e543c"
            ]
        ]
    },
    {
        "id": "42b90a19.e057c4",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Arch",
        "format": "{{msg.payload.arch}}",
        "layout": "row-spread",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "72a2f030.273c3",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Firmware Id",
        "format": "{{msg.payload.fw_id}}",
        "layout": "row-spread",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "31f67ae1.5ddbd6",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "App",
        "format": "{{msg.payload.app}}",
        "layout": "row-spread",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "a752c82f.31c948",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "fs_free",
        "format": "{{msg.payload.fs_free}}",
        "layout": "row-spread",
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "2f76936b.db117c",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 7,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "fs_size",
        "format": "{{msg.payload.fs_size}}",
        "layout": "row-spread",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "312020e6.2728b",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 8,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "ram_min_free",
        "format": "{{msg.payload.ram_min_free/1000}} kB",
        "layout": "row-spread",
        "x": 940,
        "y": 480,
        "wires": []
    },
    {
        "id": "10fdd4d3.29c67b",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 9,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "ram_free",
        "format": "{{msg.payload.ram_free/1000}} kB",
        "layout": "row-spread",
        "x": 920,
        "y": 520,
        "wires": []
    },
    {
        "id": "25ec6f8f.87e7c",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 10,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "ram_size",
        "format": "{{msg.payload.ram_size/1000}} kB",
        "layout": "row-spread",
        "x": 920,
        "y": 560,
        "wires": []
    },
    {
        "id": "4f5ca563.70cb7c",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 11,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "mac",
        "format": "{{msg.payload.mac}}",
        "layout": "row-spread",
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "9e05ea16.e202b8",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 12,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "WiFI ssid",
        "format": "{{msg.payload.wifi.ssid}}",
        "layout": "row-spread",
        "x": 920,
        "y": 640,
        "wires": []
    },
    {
        "id": "b10fda.4b87e028",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 13,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "WiFI status",
        "format": "{{msg.payload.wifi.status}}",
        "layout": "row-spread",
        "x": 930,
        "y": 680,
        "wires": []
    },
    {
        "id": "a3d63937.2c09e8",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 14,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "WiFI ap_ip",
        "format": "{{msg.payload.wifi.ap_ip}}",
        "layout": "row-spread",
        "x": 930,
        "y": 720,
        "wires": []
    },
    {
        "id": "fafc96cd.bf5d98",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "WiFI ssid",
        "format": "{{msg.payload.wifi.sta_ip}}",
        "layout": "row-spread",
        "x": 920,
        "y": 760,
        "wires": []
    },
    {
        "id": "61b9ad92.ad4474",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "pub msg",
        "func": "if(msg.payload){\n    msg.payload = {\"SW_2\": 0};\n}\nelse {\n   msg.payload = { \"SW_2\": 1};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1340,
        "wires": [
            [
                "98e514a6.9c7a38"
            ]
        ]
    },
    {
        "id": "990295b0.549198",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "pub msg",
        "func": "if(msg.payload){\n    msg.payload = {\"SW_3\": 0};\n}\nelse {\n   msg.payload = { \"SW_3\": 1};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1380,
        "wires": [
            [
                "98e514a6.9c7a38"
            ]
        ]
    },
    {
        "id": "d6ca1a4b.73de78",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "pub msg",
        "func": "if(msg.payload){\n    msg.payload = {\"SW_4\": 0};\n}\nelse {\n   msg.payload = { \"SW_4\": 1};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1420,
        "wires": [
            [
                "98e514a6.9c7a38"
            ]
        ]
    },
    {
        "id": "1839bfc2.001d9",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "pub msg",
        "func": "if(msg.payload){\n    msg.payload = {\"SW_1\": 0};\n}\nelse {\n   msg.payload = { \"SW_1\": 1};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1300,
        "wires": [
            [
                "98e514a6.9c7a38"
            ]
        ]
    },
    {
        "id": "1ac925a7.edb6ea",
        "type": "mqtt in",
        "z": "fc95845e.d2e458",
        "name": "MQTT subs /aqua/temp/",
        "topic": "/aqua/temp/",
        "qos": "1",
        "broker": "712c86f7.9602f8",
        "x": 210,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "fbba8e91.396df",
        "type": "ui_gauge",
        "z": "fc95845e.d2e458",
        "name": "Water Temp",
        "group": "9047de6a.d018b",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Water Temp",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": "10",
        "max": "50",
        "colors": [
            "#ffff00",
            "#00ca00",
            "#ff0000"
        ],
        "seg1": "22",
        "seg2": "30",
        "x": 950,
        "y": 2280,
        "wires": []
    },
    {
        "id": "60825688.053fe8",
        "type": "ui_chart",
        "z": "fc95845e.d2e458",
        "name": "Temp 30 D",
        "group": "9047de6a.d018b",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "30 days of History",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 950,
        "y": 2420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "da3596bd.42aa38",
        "type": "ui_chart",
        "z": "fc95845e.d2e458",
        "name": "Temp 24 H",
        "group": "9047de6a.d018b",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "24 H",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 950,
        "y": 2340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e4d0eb11.6789c8",
        "type": "delay",
        "z": "fc95845e.d2e458",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 780,
        "y": 2340,
        "wires": [
            [
                "da3596bd.42aa38"
            ]
        ]
    },
    {
        "id": "d1b0de8b.3895f",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "toFixed(2)",
        "func": "var value = msg.payload.temperature;\n\nmsg.payload = value.toFixed(2);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 2280,
        "wires": [
            [
                "fbba8e91.396df",
                "e4d0eb11.6789c8",
                "7c147ac9.147344"
            ]
        ]
    },
    {
        "id": "e94919f3.2d9018",
        "type": "json",
        "z": "fc95845e.d2e458",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 2280,
        "wires": [
            [
                "d1b0de8b.3895f"
            ]
        ]
    },
    {
        "id": "7c147ac9.147344",
        "type": "delay",
        "z": "fc95845e.d2e458",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 780,
        "y": 2420,
        "wires": [
            [
                "60825688.053fe8"
            ]
        ]
    },
    {
        "id": "285448ab.de9d88",
        "type": "mqtt in",
        "z": "fc95845e.d2e458",
        "name": "MQTT subs /aqua/temp/",
        "topic": "/aqua/temp/",
        "qos": "1",
        "broker": "712c86f7.9602f8",
        "x": 230,
        "y": 2280,
        "wires": [
            [
                "e94919f3.2d9018"
            ]
        ]
    },
    {
        "id": "5bceed6b.bc62a4",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "System Sounds",
        "group": "7f6f0011.0b5df",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "SystemSounds",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 1020,
        "wires": [
            [
                "d1cf9613.8663e8",
                "366bb862.6c3208"
            ]
        ]
    },
    {
        "id": "fb48244b.24a048",
        "type": "inject",
        "z": "fc95845e.d2e458",
        "name": "init temp at start",
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 1800,
        "wires": [
            [
                "c3350ef8.f13fa"
            ]
        ]
    },
    {
        "id": "366bb862.6c3208",
        "type": "debug",
        "z": "fc95845e.d2e458",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4a20e3b6.41727c",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Last Updated",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 930,
        "y": 800,
        "wires": []
    },
    {
        "id": "e52c3e71.90ac8",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "last updated",
        "func": "var time = new Date();\nvar year = time.getFullYear();\nvar month = time.getMonth()+1;\nvar date1 = time.getDate();\nvar hour = time.getHours();\nvar minutes = time.getMinutes();\nvar seconds = time.getSeconds();\n\nmsg.payload = (year + \"-\" + month + \"-\"+date1+\" \"+hour+\":\"+minutes+\":\"+seconds + \" UTC\");\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "4a20e3b6.41727c"
            ]
        ]
    },
    {
        "id": "d1cf9613.8663e8",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "Global var",
        "func": "var SystemSounds = msg.payload;\n\nglobal.set('SystemSounds', SystemSounds); ",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "712c86f7.9602f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "dd8d8e1.f37597",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "f1c6015c.e4996",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "7f6f0011.0b5df",
        "type": "ui_group",
        "z": "",
        "name": "Mode",
        "tab": "f1c6015c.e4996",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a6e6ff9c.07307",
        "type": "ui_group",
        "z": "",
        "name": "Device",
        "tab": "f1c6015c.e4996",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9047de6a.d018b",
        "type": "ui_group",
        "z": "",
        "name": "Monitoring",
        "tab": "f1c6015c.e4996",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f1c6015c.e4996",
        "type": "ui_tab",
        "z": "",
        "name": "Aquarium",
        "icon": "pets",
        "order": 3
    }
]