src_nodered/todo - containerize/flows_raspberrypi.json
[
    {
        "id": "20c449ba.093cc6",
        "type": "tab",
        "label": "common",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d19a6cec.a4f3c",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fc95845e.d2e458",
        "type": "tab",
        "label": "Aqua",
        "disabled": false,
        "info": ""
    },
    {
        "id": "11385de4.d1f2d2",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6138b4b.ce4098",
        "type": "tab",
        "label": "UPS",
        "disabled": false,
        "info": "UPS power and server supply control"
    },
    {
        "id": "b634c8ff.bb3648",
        "type": "tab",
        "label": "Energy",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e4139c8c.8ed41",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "44a28567.705d7c",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "3705c658.cf684a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "89ea1a92.0b7568",
        "type": "ui_group",
        "z": "20c449ba.093cc6",
        "name": "Default",
        "tab": "dfb6b642.f39388",
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "dc9884a6.275368",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "home",
        "order": 1
    },
    {
        "id": "d2ba3d0c.18141",
        "type": "ui_group",
        "z": "",
        "name": "Description",
        "tab": "ec316af9.6279e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "712c86f7.9602f8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "dd8d8e1.f37597",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "f1c6015c.e4996",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9047de6a.d018b",
        "type": "ui_group",
        "z": "",
        "name": "Monitoring",
        "tab": "f1c6015c.e4996",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f1c6015c.e4996",
        "type": "ui_tab",
        "z": "",
        "name": "Aquarium",
        "icon": "pets",
        "order": 3
    },
    {
        "id": "a94d14a5.befad8",
        "type": "ui_group",
        "z": "",
        "name": "Memory",
        "tab": "356e55e.9bf61aa",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "d8531241.abf8",
        "type": "ui_group",
        "z": "",
        "name": "Weather",
        "tab": "dc9884a6.275368",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "356e55e.9bf61aa",
        "type": "ui_tab",
        "z": "",
        "name": "System",
        "icon": "computer",
        "order": 2
    },
    {
        "id": "4f9121ac.d64f",
        "type": "ui_group",
        "z": "",
        "name": "CPU Load",
        "tab": "356e55e.9bf61aa",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "6a8a1bbf.59e8f4",
        "type": "ui_group",
        "z": "",
        "name": "HDD & Ram",
        "tab": "356e55e.9bf61aa",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a41cd0e4.d75c7",
        "type": "ui_group",
        "z": "",
        "name": "System Information",
        "tab": "356e55e.9bf61aa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "1afae6c1.53dde9",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9ab5405f.7081d",
        "type": "ui_group",
        "z": "",
        "name": "Server History",
        "tab": "356e55e.9bf61aa",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "d7ce0af7.b4d7d8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "ec316af9.6279e8",
        "type": "ui_tab",
        "z": "",
        "name": "UPS",
        "icon": "battery_charging_90",
        "order": 4
    },
    {
        "id": "71fdcef.006b63",
        "type": "ui_group",
        "z": "",
        "name": "Description",
        "tab": "dc9884a6.275368",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5f7d7490.82098c",
        "type": "ui_tab",
        "z": "",
        "name": "Energy",
        "icon": "fa-bolt",
        "order": 5
    },
    {
        "id": "6ca074d4.c9ff2c",
        "type": "ui_group",
        "z": "",
        "name": "Description",
        "tab": "5f7d7490.82098c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1f582ed9.8342b1",
        "type": "ui_group",
        "z": "",
        "name": "Temp history",
        "tab": "f1c6015c.e4996",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": true
    },
    {
        "id": "7f6f0011.0b5df",
        "type": "ui_group",
        "z": "",
        "name": "Mode",
        "tab": "f1c6015c.e4996",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a6e6ff9c.07307",
        "type": "ui_group",
        "z": "",
        "name": "Device",
        "tab": "f1c6015c.e4996",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "ec659cea.93367",
        "type": "mosca in",
        "z": "20c449ba.093cc6",
        "mqtt_port": 1883,
        "mqtt_ws_port": "1884",
        "name": "home-automation-mqtt",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 160,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e08588ef.c4d308",
        "type": "comment",
        "z": "20c449ba.093cc6",
        "name": "MQTT BROKER",
        "info": "mqtt broker",
        "x": 150,
        "y": 180,
        "wires": []
    },
    {
        "id": "41987de0.74a9a4",
        "type": "comment",
        "z": "20c449ba.093cc6",
        "name": "Common for all tabs",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "a8dc036c.10686",
        "type": "ui_template",
        "z": "d19a6cec.a4f3c",
        "group": "71fdcef.006b63",
        "name": "welcome msg",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div>Welcome to the fucking awsome smart home dashboard</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 378.017333984375,
        "y": 319.34375,
        "wires": [
            []
        ]
    },
    {
        "id": "a7be4474.13ffa8",
        "type": "comment",
        "z": "d19a6cec.a4f3c",
        "name": "Home menu",
        "info": "",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "98e514a6.9c7a38",
        "type": "mqtt out",
        "z": "fc95845e.d2e458",
        "name": "MQTT publisher /aqua/controls/",
        "topic": "/aqua/controls/",
        "qos": "1",
        "retain": "",
        "broker": "712c86f7.9602f8",
        "x": 890,
        "y": 1360,
        "wires": []
    },
    {
        "id": "bbd517cf.53aa08",
        "type": "mqtt in",
        "z": "fc95845e.d2e458",
        "name": "MQTT subs /aqua/deviceInfo/",
        "topic": "/aqua/deviceInfo/",
        "qos": "1",
        "broker": "712c86f7.9602f8",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "f87fa653.238368"
            ]
        ]
    },
    {
        "id": "a049a8fd.fc29c8",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "SW 1 - Air Pump",
        "group": "dd8d8e1.f37597",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "pumpStatus",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 1480,
        "wires": [
            [
                "17f83dce.aca812",
                "1839bfc2.001d9"
            ]
        ]
    },
    {
        "id": "e77e6d30.aab7e",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "SW 2 - Lighting",
        "group": "dd8d8e1.f37597",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 1560,
        "wires": [
            [
                "2edae77.dfe6c18",
                "61b9ad92.ad4474"
            ]
        ]
    },
    {
        "id": "c3350ef8.f13fa",
        "type": "ui_slider",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "Set Temp",
        "group": "dd8d8e1.f37597",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": "10",
        "max": "35",
        "step": ".5",
        "x": 180,
        "y": 1800,
        "wires": [
            [
                "52fa4c44.aac754",
                "8f7af3e0.919d3"
            ]
        ]
    },
    {
        "id": "52fa4c44.aac754",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "dd8d8e1.f37597",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "UI set to",
        "label": "Temperature set to",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "x": 540,
        "y": 1860,
        "wires": []
    },
    {
        "id": "5d9081dc.8cf15",
        "type": "OS",
        "z": "11385de4.d1f2d2",
        "name": "",
        "x": 390,
        "y": 1360,
        "wires": [
            [
                "567acacc.e4b154",
                "156edbd0.5f83f4",
                "448903f3.205b0c",
                "29443a46.651d06",
                "919bdc1c.51b92"
            ]
        ]
    },
    {
        "id": "db5f5dd0.257ee",
        "type": "Uptime",
        "z": "11385de4.d1f2d2",
        "name": "",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "a1abc718.f082b8"
            ]
        ]
    },
    {
        "id": "7fc54f9.c2010b",
        "type": "CPUs",
        "z": "11385de4.d1f2d2",
        "name": "",
        "x": 390,
        "y": 1400,
        "wires": [
            [
                "4a7ac777.1aeba8"
            ]
        ]
    },
    {
        "id": "a7dda70c.1ed598",
        "type": "Loadavg",
        "z": "11385de4.d1f2d2",
        "name": "",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "b7d54ce9.9e6ee",
                "1bfdf24c.c351ce",
                "510065a4.85a15c",
                "34cf5fde.f587f",
                "7b546893.ba2e98"
            ]
        ]
    },
    {
        "id": "e22a9d91.d96e6",
        "type": "inject",
        "z": "11385de4.d1f2d2",
        "name": "each 3 sec",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "db5f5dd0.257ee",
                "a7dda70c.1ed598",
                "ffba3bc6.7c7e78",
                "4ac1a602.d323f8",
                "911a2aa0.cecd38"
            ]
        ]
    },
    {
        "id": "b7d54ce9.9e6ee",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "f406ad8d.d2255"
            ]
        ]
    },
    {
        "id": "1bfdf24c.c351ce",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "467a4b44.bc6504"
            ]
        ]
    },
    {
        "id": "510065a4.85a15c",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[2];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "51252402.a15f9c"
            ]
        ]
    },
    {
        "id": "f406ad8d.d2255",
        "type": "ui_gauge",
        "z": "11385de4.d1f2d2",
        "name": "CPU Load 1",
        "group": "4f9121ac.d64f",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "467a4b44.bc6504",
        "type": "ui_gauge",
        "z": "11385de4.d1f2d2",
        "name": "CPU Load 2",
        "group": "4f9121ac.d64f",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "5 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "51252402.a15f9c",
        "type": "ui_gauge",
        "z": "11385de4.d1f2d2",
        "name": "CPU Load 3",
        "group": "4f9121ac.d64f",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "15 Minutes",
        "label": "load",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "4",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "a1abc718.f082b8",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "Uptime",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "a1874ae4.b99168"
            ]
        ]
    },
    {
        "id": "a1874ae4.b99168",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "a41cd0e4.d75c7",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "567acacc.e4b154",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "hostname",
        "func": "msg.payload = msg.payload.hostname;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 1360,
        "wires": [
            [
                "847bc656.3d72a8"
            ]
        ]
    },
    {
        "id": "847bc656.3d72a8",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "a41cd0e4.d75c7",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Hostname",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 830,
        "y": 1360,
        "wires": []
    },
    {
        "id": "156edbd0.5f83f4",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "platform",
        "func": "msg.payload = msg.payload.platform;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 1400,
        "wires": [
            [
                "66c3ebba.651a74"
            ]
        ]
    },
    {
        "id": "66c3ebba.651a74",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "a41cd0e4.d75c7",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Platform",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 1400,
        "wires": []
    },
    {
        "id": "448903f3.205b0c",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "arch",
        "func": "msg.payload = msg.payload.arch;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1440,
        "wires": [
            [
                "c5e3abc8.4f5a78"
            ]
        ]
    },
    {
        "id": "c5e3abc8.4f5a78",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "a41cd0e4.d75c7",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Arch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 1440,
        "wires": []
    },
    {
        "id": "29443a46.651d06",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "release",
        "func": "msg.payload = msg.payload.release;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 1480,
        "wires": [
            [
                "ba85ef33.5ce54"
            ]
        ]
    },
    {
        "id": "ba85ef33.5ce54",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "a41cd0e4.d75c7",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Release",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 820,
        "y": 1480,
        "wires": []
    },
    {
        "id": "4a7ac777.1aeba8",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "CPU",
        "func": "msg.payload = msg.payload.cpus[0].model;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 1560,
        "wires": [
            [
                "cf7db885.250828"
            ]
        ]
    },
    {
        "id": "cf7db885.250828",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "a41cd0e4.d75c7",
        "order": 7,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "CPU ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 1560,
        "wires": []
    },
    {
        "id": "34cf5fde.f587f",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "",
        "func": "msg.payload = msg.payload.loadavg[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 360,
        "wires": [
            [
                "52e143d6.f67a7c"
            ]
        ]
    },
    {
        "id": "52e143d6.f67a7c",
        "type": "ui_chart",
        "z": "11385de4.d1f2d2",
        "name": "CPU Load - Historical",
        "group": "4f9121ac.d64f",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "10 minute",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 1020,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6b604298.f323bc",
        "type": "comment",
        "z": "11385de4.d1f2d2",
        "name": "CPU Load",
        "info": "",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "ffba3bc6.7c7e78",
        "type": "Drives",
        "z": "11385de4.d1f2d2",
        "name": "",
        "x": 370,
        "y": 740,
        "wires": [
            [
                "d28f9f5a.66ae4",
                "cd50a35f.b021f"
            ]
        ]
    },
    {
        "id": "d28f9f5a.66ae4",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "",
        "func": "msg = msg.payload[3]\nmsg.payload = msg.capacity * 100\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 800,
        "wires": [
            [
                "c9f773cc.bc672"
            ]
        ]
    },
    {
        "id": "c9f773cc.bc672",
        "type": "ui_gauge",
        "z": "11385de4.d1f2d2",
        "name": "Harddisk Usage",
        "group": "6a8a1bbf.59e8f4",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Rootfs",
        "label": "Hard Disk Usage",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 900,
        "y": 800,
        "wires": []
    },
    {
        "id": "cd50a35f.b021f",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "size",
        "func": "msg = msg.payload[3]\nmsg.payload = msg.size * 1e-6\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 860,
        "wires": [
            [
                "f2dd951d.b04788"
            ]
        ]
    },
    {
        "id": "f2dd951d.b04788",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "6a8a1bbf.59e8f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hard Disk Total",
        "format": "{{msg.payload}} Gb",
        "layout": "row-left",
        "x": 900,
        "y": 860,
        "wires": []
    },
    {
        "id": "5333445f.f646ec",
        "type": "debug",
        "z": "11385de4.d1f2d2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "7b546893.ba2e98",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload)/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "5333445f.f646ec",
                "1f94448e.a3e3bb"
            ]
        ]
    },
    {
        "id": "1f94448e.a3e3bb",
        "type": "ui_gauge",
        "z": "11385de4.d1f2d2",
        "name": "CPU Temp",
        "group": "4f9121ac.d64f",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "CPU Temp",
        "label": "°C",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "87",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "c0ddf045.55bb7",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "a41cd0e4.d75c7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "OS",
        "label": "OS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 1520,
        "wires": []
    },
    {
        "id": "919bdc1c.51b92",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "osType",
        "func": "msg.payload = msg.payload.type; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 1520,
        "wires": [
            [
                "c0ddf045.55bb7"
            ]
        ]
    },
    {
        "id": "5bd0b4e8.d5904c",
        "type": "ui_text",
        "z": "d19a6cec.a4f3c",
        "group": "d8531241.abf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "wather",
        "label": "weather today",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "b19233c9.229c2",
        "type": "function",
        "z": "d19a6cec.a4f3c",
        "name": "weatherState",
        "func": "msg.payload = msg.payload.weather\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "5bd0b4e8.d5904c"
            ]
        ]
    },
    {
        "id": "f912c2be.7a515",
        "type": "comment",
        "z": "d19a6cec.a4f3c",
        "name": "weather",
        "info": "",
        "x": 230,
        "y": 440,
        "wires": []
    },
    {
        "id": "f2c8bad6.1588c8",
        "type": "function",
        "z": "d19a6cec.a4f3c",
        "name": "Loacation",
        "func": "msg.payload = msg.payload.location\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 560,
        "wires": [
            [
                "cd2f0930.f0c2c8"
            ]
        ]
    },
    {
        "id": "da86a1bf.4d394",
        "type": "function",
        "z": "d19a6cec.a4f3c",
        "name": "detail",
        "func": "msg.payload = msg.payload.detail;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "dcc80145.88de3"
            ]
        ]
    },
    {
        "id": "cd2f0930.f0c2c8",
        "type": "ui_text",
        "z": "d19a6cec.a4f3c",
        "group": "d8531241.abf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Location",
        "label": "Location",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "dcc80145.88de3",
        "type": "ui_text",
        "z": "d19a6cec.a4f3c",
        "group": "d8531241.abf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "detail",
        "label": "detail",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "3662524f.41803e",
        "type": "function",
        "z": "d19a6cec.a4f3c",
        "name": "description",
        "func": "msg.payload = msg.payload.description\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 640,
        "wires": [
            [
                "9eed7483.09f2c8"
            ]
        ]
    },
    {
        "id": "9eed7483.09f2c8",
        "type": "ui_text",
        "z": "d19a6cec.a4f3c",
        "group": "d8531241.abf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "description",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "e6b51d04.529c6",
        "type": "openweathermap in",
        "z": "d19a6cec.a4f3c",
        "name": "Weather",
        "lon": "",
        "lat": "",
        "city": "Sofia",
        "country": "Bulgaria",
        "language": "en",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "b19233c9.229c2",
                "f2c8bad6.1588c8",
                "da86a1bf.4d394",
                "3662524f.41803e"
            ]
        ]
    },
    {
        "id": "bf41baec.782138",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "Memory",
        "func": "// old, not correct information\n//msg.payload = msg.payload.memusage;\n//return msg;\n\n//new\nvar msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = (100-msg.payload.memusage).toFixed(2);\nmsg1.topic = 'Mem';\n\n\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 640,
        "wires": [
            [
                "434a9d25.17f314"
            ]
        ]
    },
    {
        "id": "434a9d25.17f314",
        "type": "ui_gauge",
        "z": "11385de4.d1f2d2",
        "name": "Memory Usage",
        "group": "a94d14a5.befad8",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "1 Minute",
        "label": "Usage",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "2a7ea5b1.f7717a",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.totalmem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "ebab586c.675748"
            ]
        ]
    },
    {
        "id": "6fc8e118.a265b",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "",
        "func": "function formatBytes(bytes,decimals) {\n   if(bytes === 0) return '0 Byte';\n   var k = 1000; // or 1024 for binary\n   var dm = decimals + 1 || 3;\n   var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];\n   var i = Math.floor(Math.log(bytes) / Math.log(k));\n   return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];\n}\n\nmsg.payload = formatBytes(msg.payload.freemem);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 720,
        "wires": [
            [
                "39cc6a76.9e9d46"
            ]
        ]
    },
    {
        "id": "ebab586c.675748",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "a94d14a5.befad8",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Total Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 900,
        "y": 680,
        "wires": []
    },
    {
        "id": "39cc6a76.9e9d46",
        "type": "ui_text",
        "z": "11385de4.d1f2d2",
        "group": "a94d14a5.befad8",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Free Memory",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 720,
        "wires": []
    },
    {
        "id": "7f2dae9a.fac14",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "",
        "func": "msg.payload = msg.payload.memusage;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 600,
        "wires": [
            [
                "f5edeaa4.ad8958"
            ]
        ]
    },
    {
        "id": "f5edeaa4.ad8958",
        "type": "ui_chart",
        "z": "11385de4.d1f2d2",
        "name": "Memory chart",
        "group": "a94d14a5.befad8",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "10 min",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 880,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fd5b23.cb14c4e",
        "type": "comment",
        "z": "11385de4.d1f2d2",
        "name": "Memory Usage",
        "info": "",
        "x": 400,
        "y": 520,
        "wires": []
    },
    {
        "id": "4ac1a602.d323f8",
        "type": "Memory",
        "z": "11385de4.d1f2d2",
        "name": "",
        "x": 380,
        "y": 600,
        "wires": [
            [
                "7f2dae9a.fac14",
                "bf41baec.782138",
                "2a7ea5b1.f7717a",
                "6fc8e118.a265b"
            ]
        ]
    },
    {
        "id": "911a2aa0.cecd38",
        "type": "NetworkIntf",
        "z": "11385de4.d1f2d2",
        "name": "",
        "x": 330,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "b21d3b34.d41f58",
        "type": "comment",
        "z": "11385de4.d1f2d2",
        "name": "Storage",
        "info": "",
        "x": 370,
        "y": 700,
        "wires": []
    },
    {
        "id": "9449fee5.6a63a",
        "type": "comment",
        "z": "11385de4.d1f2d2",
        "name": "System information",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "344dd19d.2c3f3e",
        "type": "Loadavg",
        "z": "11385de4.d1f2d2",
        "name": "",
        "x": 360,
        "y": 1780,
        "wires": [
            [
                "c4293237.fc11c"
            ]
        ]
    },
    {
        "id": "c4293237.fc11c",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "LoadAvg",
        "func": "var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = (msg.payload.loadavg[0].toFixed(2))/4*100;\nmsg1.topic = '1 Min';\n\nmsg2.payload = (msg.payload.loadavg[2].toFixed(2))/4*100;\nmsg2.topic = '15 min';\n\n\nreturn [ msg1 , msg2 ];\n",
        "outputs": "2",
        "noerr": 0,
        "x": 620,
        "y": 1780,
        "wires": [
            [
                "10ff78b3.382457"
            ],
            [
                "10ff78b3.382457"
            ]
        ]
    },
    {
        "id": "78935a2f.09a654",
        "type": "Memory",
        "z": "11385de4.d1f2d2",
        "name": "",
        "x": 360,
        "y": 1840,
        "wires": [
            [
                "c91673e2.a0945"
            ]
        ]
    },
    {
        "id": "c91673e2.a0945",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "Memory",
        "func": "var msg1 = {};\nvar msg2 = {};\n\nmsg1.payload = (100-msg.payload.memusage).toFixed(2);\nmsg1.topic = 'Memory';\n\n\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1840,
        "wires": [
            [
                "10ff78b3.382457"
            ]
        ]
    },
    {
        "id": "f376eab9.1d1978",
        "type": "exec",
        "z": "11385de4.d1f2d2",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 1700,
        "wires": [
            [
                "2a7ab5f8.4966fa",
                "b751dd97.fb44b"
            ],
            [],
            []
        ]
    },
    {
        "id": "2a7ab5f8.4966fa",
        "type": "function",
        "z": "11385de4.d1f2d2",
        "name": "cpu temp",
        "func": "msg.payload = {\"d\":{\"temp\":msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\")}};\nmsg.payload = msg.payload.d.temp;\nmsg.topic = 'Temp';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 1720,
        "wires": [
            [
                "10ff78b3.382457"
            ]
        ]
    },
    {
        "id": "10ff78b3.382457",
        "type": "ui_chart",
        "z": "11385de4.d1f2d2",
        "name": "",
        "group": "9ab5405f.7081d",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "24 hours",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "500",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 840,
        "y": 1780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3df62794.3e2a68",
        "type": "comment",
        "z": "11385de4.d1f2d2",
        "name": "Server Chart",
        "info": "",
        "x": 170,
        "y": 1660,
        "wires": []
    },
    {
        "id": "d4b6b95d.ba9998",
        "type": "inject",
        "z": "11385de4.d1f2d2",
        "name": "each 3 min",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "180",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 170,
        "y": 1720,
        "wires": [
            [
                "f376eab9.1d1978",
                "344dd19d.2c3f3e",
                "78935a2f.09a654"
            ]
        ]
    },
    {
        "id": "38e08e4f.2af102",
        "type": "inject",
        "z": "11385de4.d1f2d2",
        "name": "each 3 min",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "180",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 210,
        "y": 1380,
        "wires": [
            [
                "5d9081dc.8cf15",
                "7fc54f9.c2010b"
            ]
        ]
    },
    {
        "id": "c3993593.3955d8",
        "type": "ui_template",
        "z": "c6138b4b.ce4098",
        "group": "d2ba3d0c.18141",
        "name": "Description",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div>Uninterrupted Power Supply (UPS)\n<br>\n\ncontrol\n<br>\nmonitoring\n<br>\nbattery level\n<br>\nest time on battery\n<br>\n\npower save mode (leave only communication, stop updates etc..)\n\n\n<br>\n\nnotification when battery is the main power source\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 450,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "83648919.874d18",
        "type": "ui_template",
        "z": "b634c8ff.bb3648",
        "group": "6ca074d4.c9ff2c",
        "name": "desc",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<H1>Energy monitoring</H1>\n<p>power</p>\n<p>voltage</p>\n<p>current</p>\n<p>cos phi</p>\n<p>THD</p>\n<p>etc..</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 510,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2fa161a5.654f4e",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "SW 3 - Water Filter",
        "group": "dd8d8e1.f37597",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 1640,
        "wires": [
            [
                "c8ab83b9.75f45",
                "990295b0.549198"
            ]
        ]
    },
    {
        "id": "576d8ec0.3e595",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "Automatic mode",
        "group": "7f6f0011.0b5df",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "pumpStatus",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 1100,
        "wires": [
            [
                "128c6c9a.b59ae3"
            ]
        ]
    },
    {
        "id": "8548fd47.207ee",
        "type": "ui_template",
        "z": "fc95845e.d2e458",
        "group": "7f6f0011.0b5df",
        "name": "Description",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<h3>Control the water temperature automatically.</h3>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 170,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "a5309f9d.6d341",
        "type": "ui_switch",
        "z": "fc95845e.d2e458",
        "name": "",
        "label": "SW 4 - Heater",
        "group": "dd8d8e1.f37597",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 1720,
        "wires": [
            [
                "78a1a0bb.e00a3",
                "d6ca1a4b.73de78"
            ]
        ]
    },
    {
        "id": "d5692fbc.13784",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Control buttons",
        "info": "",
        "x": 140,
        "y": 1220,
        "wires": []
    },
    {
        "id": "cec37586.50dd58",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Aquarium control",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "17f83dce.aca812",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "if(msg.payload){\n    msg.payload = \"Air Pump is ON\";\n    msg.toPublish = {\"SW_1\": 0};\n}\nelse {\n    msg.payload = \"Air Pump is OFF\";\n    msg.toPublish = {\"SW_1\": 1};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1480,
        "wires": [
            [
                "6561b26a.108f7c"
            ]
        ]
    },
    {
        "id": "6561b26a.108f7c",
        "type": "ui_audio",
        "z": "fc95845e.d2e458",
        "name": "",
        "group": "dd8d8e1.f37597",
        "voice": "en-GB",
        "always": false,
        "x": 820,
        "y": 1480,
        "wires": []
    },
    {
        "id": "2edae77.dfe6c18",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "if(msg.payload){\n    msg.payload = \"Lighting is ON\";\n}\nelse {\n    msg.payload = \"Lighting is OFF\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1560,
        "wires": [
            [
                "cf9bad62.c609d"
            ]
        ]
    },
    {
        "id": "cf9bad62.c609d",
        "type": "ui_audio",
        "z": "fc95845e.d2e458",
        "name": "",
        "group": "dd8d8e1.f37597",
        "voice": "en-GB",
        "always": false,
        "x": 820,
        "y": 1560,
        "wires": []
    },
    {
        "id": "c8ab83b9.75f45",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "if(msg.payload){\n    msg.payload = \"Water Filter is ON\";\n}\nelse {\n    msg.payload = \"Water Filter is OFF\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1640,
        "wires": [
            [
                "71acfdc8.5656a4"
            ]
        ]
    },
    {
        "id": "71acfdc8.5656a4",
        "type": "ui_audio",
        "z": "fc95845e.d2e458",
        "name": "",
        "group": "dd8d8e1.f37597",
        "voice": "en-GB",
        "always": false,
        "x": 820,
        "y": 1640,
        "wires": []
    },
    {
        "id": "78a1a0bb.e00a3",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "if(msg.payload){\n    msg.payload = \"Heater is ON\";\n}\nelse {\n    msg.payload = \"Heater is OFF\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1720,
        "wires": [
            [
                "b5adfc75.5acfb"
            ]
        ]
    },
    {
        "id": "b5adfc75.5acfb",
        "type": "ui_audio",
        "z": "fc95845e.d2e458",
        "name": "",
        "group": "dd8d8e1.f37597",
        "voice": "en-GB",
        "always": false,
        "x": 820,
        "y": 1720,
        "wires": []
    },
    {
        "id": "fbb2f3a5.90d4e",
        "type": "ui_audio",
        "z": "fc95845e.d2e458",
        "name": "",
        "group": "dd8d8e1.f37597",
        "voice": "en-GB",
        "always": false,
        "x": 820,
        "y": 1800,
        "wires": []
    },
    {
        "id": "8f7af3e0.919d3",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "audio msg",
        "func": "var degrees = msg.payload;\n\nmsg.payload = \"Temperature is set to \" + degrees + \" degrees\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 1800,
        "wires": [
            [
                "fbb2f3a5.90d4e"
            ]
        ]
    },
    {
        "id": "128c6c9a.b59ae3",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "",
        "func": "if(msg.payload){\n    msg.payload = \"Automatic control switched on\";\n}\nelse {\n    msg.payload = \"Switched to manual control\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 1100,
        "wires": [
            [
                "da53824.07f3e8",
                "8b901a68.5ce888"
            ]
        ]
    },
    {
        "id": "da53824.07f3e8",
        "type": "ui_audio",
        "z": "fc95845e.d2e458",
        "name": "",
        "group": "dd8d8e1.f37597",
        "voice": "en-GB",
        "always": false,
        "x": 620,
        "y": 1100,
        "wires": []
    },
    {
        "id": "8b901a68.5ce888",
        "type": "debug",
        "z": "fc95845e.d2e458",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e1be63c9.05797",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Charts",
        "info": "",
        "x": 130,
        "y": 2220,
        "wires": []
    },
    {
        "id": "937b39f9.2d11f8",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "heater controll",
        "func": "var tempretureSetTo = msg.payload\n\nif(msg.payload >= tempretureSetTo){\n    /* stop heater */\n    msg.payload = false;\n}\nelse if (msg.payload < tempretureSetTo){\n    /* start heater */\n    msg.payload = true;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "f78685e5.2b0678",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "TODO: fix",
        "info": "",
        "x": 120,
        "y": 1980,
        "wires": []
    },
    {
        "id": "793a5694.f95c58",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Device info ",
        "info": "",
        "x": 120,
        "y": 180,
        "wires": []
    },
    {
        "id": "3e7fba80.e3b8c6",
        "type": "comment",
        "z": "fc95845e.d2e458",
        "name": "Control Mode",
        "info": "",
        "x": 130,
        "y": 960,
        "wires": []
    },
    {
        "id": "60e5b44d.5e543c",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 920,
        "y": 240,
        "wires": []
    },
    {
        "id": "f87fa653.238368",
        "type": "json",
        "z": "fc95845e.d2e458",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "45bd5c98.c12404",
                "42b90a19.e057c4",
                "72a2f030.273c3",
                "31f67ae1.5ddbd6",
                "a752c82f.31c948",
                "2f76936b.db117c",
                "312020e6.2728b",
                "10fdd4d3.29c67b",
                "25ec6f8f.87e7c",
                "4f5ca563.70cb7c",
                "9e05ea16.e202b8",
                "b10fda.4b87e028",
                "a3d63937.2c09e8",
                "fafc96cd.bf5d98"
            ]
        ]
    },
    {
        "id": "45bd5c98.c12404",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "Uptime",
        "func": "function timeConversion(millisec) {\n\n    var seconds = (millisec / 1000).toFixed(1);\n\n    var minutes = (millisec / (1000 * 60)).toFixed(1);\n\n    var hours = (millisec / (1000 * 60 * 60)).toFixed(1);\n\n    var days = (millisec / (1000 * 60 * 60 * 24)).toFixed(1);\n\n    if (seconds < 60) {\n        return seconds + \" Sec\";\n    } else if (minutes < 60) {\n        return minutes + \" Min\";\n    } else if (hours < 24) {\n        return hours + \" Hrs\";\n    } else {\n        return days + \" Days\"\n    }\n}\n\nmsg.payload = timeConversion(msg.payload.uptime * 1000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 240,
        "wires": [
            [
                "60e5b44d.5e543c"
            ]
        ]
    },
    {
        "id": "42b90a19.e057c4",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Arch",
        "format": "{{msg.payload.arch}}",
        "layout": "row-spread",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "72a2f030.273c3",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Firmware Id",
        "format": "{{msg.payload.fw_id}}",
        "layout": "row-spread",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "31f67ae1.5ddbd6",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "App",
        "format": "{{msg.payload.app}}",
        "layout": "row-spread",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "a752c82f.31c948",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "fs_free",
        "format": "{{msg.payload.fs_free}}",
        "layout": "row-spread",
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "2f76936b.db117c",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "fs_size",
        "format": "{{msg.payload.fs_size}}",
        "layout": "row-spread",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "312020e6.2728b",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "ram_min_free",
        "format": "{{msg.payload.ram_min_free}}",
        "layout": "row-spread",
        "x": 940,
        "y": 480,
        "wires": []
    },
    {
        "id": "10fdd4d3.29c67b",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "ram_free",
        "format": "{{msg.payload.ram_free}}",
        "layout": "row-spread",
        "x": 920,
        "y": 520,
        "wires": []
    },
    {
        "id": "25ec6f8f.87e7c",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "ram_size",
        "format": "{{msg.payload.ram_size}}",
        "layout": "row-spread",
        "x": 920,
        "y": 560,
        "wires": []
    },
    {
        "id": "4f5ca563.70cb7c",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "mac",
        "format": "{{msg.payload.mac}}",
        "layout": "row-spread",
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "9e05ea16.e202b8",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "WiFI ssid",
        "format": "{{msg.payload.wifi.ssid}}",
        "layout": "row-spread",
        "x": 920,
        "y": 640,
        "wires": []
    },
    {
        "id": "b10fda.4b87e028",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "WiFI status",
        "format": "{{msg.payload.wifi.status}}",
        "layout": "row-spread",
        "x": 930,
        "y": 680,
        "wires": []
    },
    {
        "id": "a3d63937.2c09e8",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "WiFI ap_ip",
        "format": "{{msg.payload.wifi.ap_ip}}",
        "layout": "row-spread",
        "x": 930,
        "y": 720,
        "wires": []
    },
    {
        "id": "fafc96cd.bf5d98",
        "type": "ui_text",
        "z": "fc95845e.d2e458",
        "group": "a6e6ff9c.07307",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "WiFI ssid",
        "format": "{{msg.payload.wifi.sta_ip}}",
        "layout": "row-spread",
        "x": 920,
        "y": 760,
        "wires": []
    },
    {
        "id": "61b9ad92.ad4474",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "pub msg",
        "func": "if(msg.payload){\n    msg.payload = {\"SW_2\": 0};\n}\nelse {\n   msg.payload = { \"SW_2\": 1};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1340,
        "wires": [
            [
                "98e514a6.9c7a38"
            ]
        ]
    },
    {
        "id": "990295b0.549198",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "pub msg",
        "func": "if(msg.payload){\n    msg.payload = {\"SW_3\": 0};\n}\nelse {\n   msg.payload = { \"SW_3\": 1};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1380,
        "wires": [
            [
                "98e514a6.9c7a38"
            ]
        ]
    },
    {
        "id": "d6ca1a4b.73de78",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "pub msg",
        "func": "if(msg.payload){\n    msg.payload = {\"SW_4\": 0};\n}\nelse {\n   msg.payload = { \"SW_4\": 1};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1420,
        "wires": [
            [
                "98e514a6.9c7a38"
            ]
        ]
    },
    {
        "id": "1839bfc2.001d9",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "pub msg",
        "func": "if(msg.payload){\n    msg.payload = {\"SW_1\": 0};\n}\nelse {\n   msg.payload = { \"SW_1\": 1};\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 1300,
        "wires": [
            [
                "98e514a6.9c7a38"
            ]
        ]
    },
    {
        "id": "1ac925a7.edb6ea",
        "type": "mqtt in",
        "z": "fc95845e.d2e458",
        "name": "MQTT subs /aqua/temp/",
        "topic": "/aqua/temp/",
        "qos": "1",
        "broker": "712c86f7.9602f8",
        "x": 210,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "fbba8e91.396df",
        "type": "ui_gauge",
        "z": "fc95845e.d2e458",
        "name": "Water Temp",
        "group": "9047de6a.d018b",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Water Temp",
        "label": "°C",
        "format": "{{msg.payload}}",
        "min": "10",
        "max": "50",
        "colors": [
            "#ffff00",
            "#00ca00",
            "#ff0000"
        ],
        "seg1": "22",
        "seg2": "30",
        "x": 950,
        "y": 2280,
        "wires": []
    },
    {
        "id": "60825688.053fe8",
        "type": "ui_chart",
        "z": "fc95845e.d2e458",
        "name": "Temp 30 D",
        "group": "1f582ed9.8342b1",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "30 days of History",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 950,
        "y": 2420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "da3596bd.42aa38",
        "type": "ui_chart",
        "z": "fc95845e.d2e458",
        "name": "Temp 24 H",
        "group": "9047de6a.d018b",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "24 H",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 950,
        "y": 2340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e4d0eb11.6789c8",
        "type": "delay",
        "z": "fc95845e.d2e458",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 780,
        "y": 2340,
        "wires": [
            [
                "da3596bd.42aa38"
            ]
        ]
    },
    {
        "id": "d1b0de8b.3895f",
        "type": "function",
        "z": "fc95845e.d2e458",
        "name": "toFixed(2)",
        "func": "var value = msg.payload.temperature;\n\nmsg.payload = value.toFixed(2);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 2280,
        "wires": [
            [
                "fbba8e91.396df",
                "e4d0eb11.6789c8",
                "7c147ac9.147344"
            ]
        ]
    },
    {
        "id": "e94919f3.2d9018",
        "type": "json",
        "z": "fc95845e.d2e458",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 2280,
        "wires": [
            [
                "d1b0de8b.3895f"
            ]
        ]
    },
    {
        "id": "7c147ac9.147344",
        "type": "delay",
        "z": "fc95845e.d2e458",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 780,
        "y": 2420,
        "wires": [
            [
                "60825688.053fe8"
            ]
        ]
    },
    {
        "id": "285448ab.de9d88",
        "type": "mqtt in",
        "z": "fc95845e.d2e458",
        "name": "MQTT subs /aqua/temp/",
        "topic": "/aqua/temp/",
        "qos": "1",
        "broker": "712c86f7.9602f8",
        "x": 230,
        "y": 2280,
        "wires": [
            [
                "e94919f3.2d9018"
            ]
        ]
    },
    {
        "id": "b751dd97.fb44b",
        "type": "debug",
        "z": "11385de4.d1f2d2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 830,
        "y": 1680,
        "wires": []
    }
]